<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" >
    <link rel="stylesheet" href="/stylesheets/style.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/starability-basic.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top px-5">
    <a class="navbar-brand font-weight-bolder" href="#">IGC</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Game</a>
        </li>
    </ul>
    <% if (username != null) { %>
        <a class="nav-link text-white" href="#"><%= username %></a>
        <button class="btn btn-danger">Log out</button>
    <% } else {%>
        <button class="btn btn-success" onclick="location.href='/login'">Login</button>
    <% }%>
</nav>
<br><br>
<!--详情信息-->
<div class="card mx-auto bg-dark text-white" style="width: 1280px">
    <div class="card-body">
        <div class="container" >
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <h1 class="font-weight-bold purple-font"><%= gameInfo.name%></h1>
                    </div>
                    <div class="row">
                        <h4><%= gameInfo.type%></h4>
                    </div>
                    <div class="row">
                        <p><%= gameInfo.intro%></p>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    <div class="row">
                        <img src="<%= gameInfo.img%>"  class="img-thumbnail" alt="...">
                    </div>
                    <div class="row mt-4">
                        <form class="mx-auto">
                            <fieldset class="starability-basic" disabled>
                                <input type="radio" id="gRating5-1" name="gRating" value="5" />
                                <label for="gRating5-1" title="Amazing">5 stars</label>
                                <input type="radio" id="gRating4-1" name="gRating" value="4" />
                                <label for="gRating4-1" title="Very good">4 stars</label>
                                <input type="radio" id="gRating3-1" name="gRating" value="3" />
                                <label for="gRating3-1" title="Average">3 stars</label>
                                <input type="radio" id="gRating2-1" name="gRating" value="2" checked/>
                                <label for="gRating2-1" title="Not good">2 stars</label>
                                <input type="radio" id="gRating1-1" name="gRating" value="1" />
                                <label for="gRating1-1" title="Terrible">1 star</label>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 模态框 -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="/game/comment" method="get" id="commentForm">
                        <input type="text" name="username" value="<%= username %>"  style="display: none">
                        <input type="text" name="gamename" value="<%= gameInfo.name%>"  style="display: none">
                        <fieldset class="starability-basic ml-auto">
                            <input type="radio" id="cRating5-1" name="cRating" value="5" />
                            <label for="cRating5-1" title="Amazing">5 stars</label>
                            <input type="radio" id="cRating4-1" name="cRating" value="4" />
                            <label for="cRating4-1" title="Very good">4 stars</label>
                            <input type="radio" id="cRating3-1" name="cRating" value="3" />
                            <label for="cRating3-1" title="Average">3 stars</label>
                            <input type="radio" id="cRating2-1" name="cRating" value="2" />
                            <label for="cRating2-1" title="Not good">2 stars</label>
                            <input type="radio" id="cRating1-1" name="cRating" value="1" />
                            <label for="cRating1-1" title="Terrible">1 star</label>
                        </fieldset>
                        <div class="form-group">
                            <textarea class="form-control" id="Textarea" rows="5" name="commentText"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <!--  模态框底部样式，一般是提交或者确定按钮 -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="commentForm" onclick="cc()">Submit</button>
                </div>
            </div>
        </div>
    </div>

<!--评论区-->
<div class="card text-white bg-info mx-auto mt-5" style="width: 1280px">
    <div class="card-body container">
        <div class="row">
            <div class="col-10">
                <h2 class="card-title">评论</h2>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark btn-block " data-toggle="modal" data-target="#exampleModal">
                    Comment
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group comment_list">
                    <%comments.forEach(printComment);%>
                    <%function printComment(comment, index) {%>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-11 text-dark">
                                    <div>
                                        <!-- 用户名 -->
                                        <span><%= comment.username%>&nbsp&nbsp</span>
                                        <!-- 时间 -->
                                        <%= comment.time%>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <!-- 评论内容 -->
                                        <p>
                                            <%= comment.content%>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <!-- 显示打分分数 -->
                                    <span class="text-danger" style="font-size: 50px">
                                        <%= comment.rate%>
                                    </span>
                                </div>
                            </div>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- JS, Popper.js, and jQuery -->
<script src="/javascripts/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>
    //主游戏星星
    $("input[name='gRating']")[5 - '<%- gameInfo.rating%>'].checked = true;
    function cc(){
        setTimeout('myrefresh()',300); //指定1秒刷新一次
    }
    function myrefresh()
    {
        window.location.reload();
    }
</script>

</body>
</html>
